{
  "openapi": "3.0.2",
  "info": {
    "title": "DiligentlyAI API",
    "version": "1.1"
  },
  "servers": [
    {
      "url": "https://api.diligently.ai/"
    }
  ],
  "paths": {
    "/systems": {
      "get": {
        "description": "Get a list of all systems that are available for use.",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "system_id": {
                        "type": "string"
                      },
                      "body": {
                        "$ref": "#/components/fastlane/SystemStructure"
                      },
                      "created_date": {
                        "type": "string"
                      },
                      "last_modified_date": {
                        "type": "string"
                      },
                      "last_modified_user_id": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            },
            "description": "OK"
          }
        }
      },
      "post": {
        "description": "Create a new system configuration. This follows the FastlaneAI schema.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/fastlane/SystemStructure"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "system_id": {
                      "type": "string"
                    },
                    "body": {
                      "$ref": "#/components/fastlane/SystemStructure"
                    },
                    "created_date": {
                      "type": "string"
                    },
                    "last_modified_date": {
                      "type": "string"
                    },
                    "last_modified_user_id": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/systems/{system_id}/prompt_templates": {
      "get": {
        "description": "Get a list of all prompt templates that are available for a given system",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "system_id"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "$ref": "#/components/fastlane/PromptTemplate"
                    },
                    "created_date": {
                      "type": "string"
                    },
                    "last_modified_date": {
                      "type": "string"
                    },
                    "last_modified_user_id": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "OK"
          }
        }
      },
      "post": {
        "description": "Create or update the prompt templates for a given system.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "system_id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/fastlane/PromptTemplate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "$ref": "#/components/fastlane/PromptTemplate"
                    },
                    "created_date": {
                      "type": "string"
                    },
                    "last_modified_date": {
                      "type": "string"
                    },
                    "last_modified_user_id": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/systems/{system_id}/database_templates": {
      "get": {
        "description": "Get a list of all database templates that are available for a given system",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "system_id"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "$ref": "#/components/fastlane/DatabaseTemplate"
                    },
                    "created_date": {
                      "type": "string"
                    },
                    "last_modified_date": {
                      "type": "string"
                    },
                    "last_modified_user_id": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "OK"
          }
        }
      },
      "post": {
        "description": "Create or update the database templates for a given system.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "system_id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/fastlane/DatabaseTemplate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "$ref": "#/components/fastlane/DatabaseTemplate"
                    },
                    "created_date": {
                      "type": "string"
                    },
                    "last_modified_date": {
                      "type": "string"
                    },
                    "last_modified_user_id": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/systems/{system_id}/user_input_templates": {
      "get": {
        "description": "Get a list of all user input templates that are available for a given system",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "system_id"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "$ref": "#/components/fastlane/UserInputTemplate"
                    },
                    "created_date": {
                      "type": "string"
                    },
                    "last_modified_date": {
                      "type": "string"
                    },
                    "last_modified_user_id": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "OK"
          }
        }
      },
      "post": {
        "description": "Create or update the user input templates for a given system.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "system_id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/fastlane/UserInputTemplate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "$ref": "#/components/fastlane/UserInputTemplate"
                    },
                    "created_date": {
                      "type": "string"
                    },
                    "last_modified_date": {
                      "type": "string"
                    },
                    "last_modified_user_id": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/evaluations": {
      "get": {
        "description": "Search for evaluations based on various parameters. If no parameters are provided, the most recent 1,000 evaluations are returned.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "prompt_id",
            "example": "data_summary"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "start_date",
            "example": "2023-12-23T12:32:21"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "end_date",
            "example": "2023-12-23T12:33:21"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "exec_id",
            "example": "125343-3422-7655-7564-345263"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "response_score",
            "example": "eq2"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "prompt_score",
            "example": "lt8"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "model_ids",
            "description": "comma seperated",
            "example": "openai.gpt-4,openai.gpt-3.5"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "tags",
            "description": "comma seperated",
            "example": "user_id:2341,test_tag"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "prompt_id": {
                        "type": "string",
                        "example": "4123-3242-4234-4365"
                      },
                      "exec_id": {
                        "type": "string",
                        "example": "4123-3242-4234-4365"
                      },
                      "model_id": {
                        "type": "string",
                        "example": "gpt-4"
                      },
                      "environment": {
                        "type": "string",
                        "example": "adhoc"
                      },
                      "messages": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "role": {
                              "type": "string",
                              "example": "user"
                            },
                            "content": {
                              "type": "string",
                              "example": "what is the meaning of life?"
                            }
                          }
                        }
                      },
                      "tags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "example": ["tag1", "tag2"]
                      },
                      "run_time": {
                        "type": "number",
                        "example": 12
                      },
                      "prompt_details": {
                        "type": "object",
                        "properties": {
                          "full_text": {
                            "type": "string",
                            "example": "This is a long prompt with lots of characters."
                          },
                          "score": {
                            "type": "number",
                            "example": 1
                          },
                          "tokens": {
                            "type": "number",
                            "example": 122
                          },
                          "evaluation": {
                            "type": "string",
                            "example": "This is a long evaluation with lots of characters."
                          },
                          "eval_prompt_tokens": {
                            "type": "number",
                            "example": 122
                          },
                          "eval_response_tokens": {
                            "type": "number",
                            "example": 176
                          }
                        }
                      },
                      "response_details": {
                        "type": "object",
                        "properties": {
                          "full_text": {
                            "type": "string",
                            "example": "This is a long response with lots of characters."
                          },
                          "score": {
                            "type": "number",
                            "example": 1
                          },
                          "tokens": {
                            "type": "number",
                            "example": 122
                          },
                          "evaluation": {
                            "type": "string",
                            "example": "This is a long evaluation with lots of characters."
                          },
                          "eval_prompt_tokens": {
                            "type": "number",
                            "example": 122
                          },
                          "eval_response_tokens": {
                            "type": "number",
                            "example": 176
                          }
                        }
                      },
                      "date_created": {
                        "type": "string",
                        "example": "2023-11-23"
                      }
                    }
                  }
                }
              }
            },
            "description": "OK"
          }
        }
      },
      "post": {
        "description": "Create a new evaluation. This is used to evaluate a prompt and response pair.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt_id": {
                    "type": "string"
                  },
                  "prompt": {
                    "type": "string",
                    "example": "A prompt that was sent to a LLM and is up for evaluation."
                  },
                  "response": {
                    "type": "string",
                    "example": "A response that came from a LLM, and is up for evaluation."
                  },
                  "model_id": {
                    "type": "string",
                    "example": "gpt-4-32k"
                  },
                  "messages": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string"
                        },
                        "content": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "run_time": {
                    "type": "number",
                    "example": 12
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "evaluation_id": {
                      "type": "string"
                    },
                    "prompt_id": {
                      "type": "string"
                    },
                    "date_created": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/self": {
      "get": {
        "description": "Get user details for the currently authenticated user",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "is_admin": {
                      "type": "boolean"
                    }
                  }
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/org": {
      "get": {
        "description": "Returns information about the registered organization for your account.",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "created_date": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "OK"
          }
        }
      },
      "put": {
        "description": "Update the name of your organization.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/users": {
      "get": {
        "description": "Lists all user accounts in your organization.",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "user_id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string"
                      },
                      "date_created": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            },
            "description": "OK"
          }
        }
      },
      "post": {
        "description": "Creates a new user account and adds them to your organization.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user_id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "date_created": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/MissingRequiredFields"
          }
        }
      }
    },
    "/api_keys": {
      "get": {
        "description": "Gets a list of all api keys for your organization.",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "api_key": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "created_date": {
                        "type": "string"
                      },
                      "last_used_date": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            },
            "description": "OK"
          }
        }
      },
      "post": {
        "description": "Creates a new api key for your organization.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "api_key": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "created_date": {
                      "type": "string"
                    },
                    "last_used_date": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "OK"
          }
        }
      },
      "delete": {
        "description": "Deletes an api key for your organization. This action is irreversible.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "api_key"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/healthcheck": {
      "get": {
        "description": "An endpoint that will confirm the API is running and accessible.",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            },
            "description": "OK"
          }
        }
      }
    }
  },
  "components": {
    "responses": {
      "MissingRequiredFields": {
        "description": "Missing Required Fields",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "fastlane": {
      "SystemStructure": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "start_nodes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "terminating_nodes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "inner_nodes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "connections": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "from": {
                  "type": "string"
                },
                "to": {
                  "type": "string"
                },
                "variables": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "PromptTemplate": {
        "type": "object",
        "properties": {
          "templates": {
            "type": "object",
            "properties": {
              "my-prompt-id": {
                "type": "object",
                "properties": {
                  "prompt_id": {
                    "type": "string"
                  },
                  "prompt_template": {
                    "type": "string"
                  },
                  "variables": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "messages": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string"
                        },
                        "content": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "DatabaseTemplate": {
        "type": "object",
        "properties": {
          "templates": {
            "type": "object",
            "properties": {
              "my-query-template-id": {
                "type": "object",
                "properties": {
                  "query_template_id": {
                    "type": "string"
                  },
                  "search_query_template": {
                    "type": "string"
                  },
                  "result_count": {
                    "type": "number"
                  },
                  "variables": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "source": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "UserInputTemplate": {
        "type": "object",
        "properties": {
          "inputs": {
            "type": "object",
            "properties": {
              "my-input-id": {
                "type": "object",
                "properties": {
                  "input_id": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
