{
  "openapi": "3.0.2",
  "info": {
    "title": "DiligentlyAI API",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://www.aws-lambda-url.com"
    }
  ],
  "paths": {
    "/admin_user": {
      "post": {
        "description": "creates a new admin user and creates their organization, called from auth0",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/user": {
      "post": {
        "description": "for an admin to create a new user and add them to their organization",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            },
            "description": "OK"
          }
        }
      },
      "get": {
        "description": "gets user details",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "org_name": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "OK"
          }
        }
      },
      "put": {
        "description": "updates a user. The user_id is required. Only need to send the fields that should be updated.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "user_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            },
            "description": "OK"
          }
        }
      },
      "delete": {
        "description": "deletes a user",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/llm_connection": {
      "post": {
        "description": "add a new LLM connection with user credentials",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "credentials": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            },
            "description": "OK"
          }
        }
      },
      "get": {
        "description": "gets user's LLM connections",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "connection_id": {
                        "type": "string"
                      },
                      "provider": {
                        "type": "string",
                        "example": "open-ai"
                      },
                      "model_ids": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "example": ["gpt-4", "gpt-3.5"]
                      },
                      "date_created": {
                        "type": "string"
                      },
                      "nickname": {
                        "type": "string"
                      },
                      "credential_previews": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            },
            "description": "OK"
          }
        }
      },
      "put": {
        "description": "updates a connection. The connection_id is required. Only need to send the fields that should be updated.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "connection_id": {
                    "type": "string"
                  },
                  "nickname": {
                    "type": "string"
                  },
                  "credentials": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            },
            "description": "OK"
          }
        }
      },
      "delete": {
        "description": "remove a connection",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "connection_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/prompt": {
      "post": {
        "description": "make new playground/dev prompt",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "env": {
                    "type": "string",
                    "example": "playground | dev"
                  },
                  "prompt": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "prompt_id": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "OK"
          }
        }
      },
      "put": {
        "description": "update playground/dev prompt. The prompt_id and env are required. Only need to send the fields that should be updated.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "env": {
                    "type": "string",
                    "example": "playground | dev"
                  },
                  "prompt": {
                    "type": "string"
                  },
                  "prompt_id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            },
            "description": "OK"
          }
        }
      },
      "delete": {
        "description": "delete playground/dev prompt",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "env": {
                    "type": "string",
                    "example": "playground | dev"
                  },
                  "prompt_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            },
            "description": "OK"
          }
        }
      },
      "get": {
        "description": "get playground / dev prompts",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "env",
            "example": "playground | dev"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "prompt_id": {
                        "type": "string"
                      },
                      "prompt": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "date_created": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/prompt_test": {
      "put": {
        "description": "updates a prompt test. The prompt_id and env required. Only need to send the fields that should be updated.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt_id": {
                    "type": "string"
                  },
                  "env": {
                    "type": "string",
                    "example": "playground | dev"
                  },
                  "test_cases": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "model_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/execute_prompt_test": {
      "post": {
        "description": "run playground/dev prompt test",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt_id": {
                    "type": "string"
                  },
                  "env": {
                    "type": "string",
                    "example": "playground | dev"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "test_run_id": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/test_results": {
      "get": {
        "description": "get playground/dev test results",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "env",
            "example": "playground | dev"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "prompt_id"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "search"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "prompt_id": {
                        "type": "string"
                      },
                      "model_id": {
                        "type": "string"
                      },
                      "test_case": {
                        "type": "string"
                      },
                      "response": {
                        "type": "string"
                      },
                      "response_eval": {
                        "type": "object",
                        "properties": {
                          "evaluation": {
                            "type": "string"
                          },
                          "score": {
                            "type": "number"
                          },
                          "verification_evaluation": {
                            "type": "string"
                          }
                        }
                      },
                      "prompt_eval": {
                        "type": "object",
                        "properties": {
                          "evaluation": {
                            "type": "string"
                          },
                          "score": {
                            "type": "number"
                          }
                        }
                      },
                      "date_created": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/promote_to_dev": {
      "put": {
        "description": "deploy prompt to dev from playground",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/promote_to_qa": {
      "put": {
        "description": "deploy prompt to qa from dev. the prompt_id and model_id are required as adjustment_threshold and eval_frequency can default to 0",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt_id": {
                    "type": "string"
                  },
                  "model_id": {
                    "type": "string"
                  },
                  "adjustment_threshold": {
                    "type": "number"
                  },
                  "eval_frequency": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "url": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/promote_to_prod": {
      "put": {
        "description": "deploy prompt to prod. only the prompt_id is required alert_threshold can default to 0 and the rest can be pulled from QA",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt_id": {
                    "type": "string"
                  },
                  "model_id": {
                    "type": "string"
                  },
                  "adjustment_threshold": {
                    "type": "number"
                  },
                  "alert_threshold": {
                    "type": "number"
                  },
                  "eval_frequency": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "url": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/deployment": {
      "get": {
        "description": "get qa or prod deployments",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "env",
            "example": "qa | prod"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "prompt_id": {
                        "type": "string"
                      },
                      "prompt": {
                        "type": "string"
                      },
                      "model_id": {
                        "type": "string"
                      },
                      "adjustment_threshold": {
                        "type": "number"
                      },
                      "eval_frequency": {
                        "type": "number"
                      },
                      "alert_threshold": {
                        "type": "number"
                      },
                      "date_created": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            },
            "description": "OK"
          }
        }
      },
      "put": {
        "description": "updates a deployed prompt. The prompt_id and env required. Only need to send the fields that should be updated.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt_id": {
                    "type": "string"
                  },
                  "env": {
                    "type": "string",
                    "example": "qa | prod"
                  },
                  "prompt": {
                    "type": "string"
                  },
                  "model_id": {
                    "type": "string"
                  },
                  "adjustment_threashold": {
                    "type": "number"
                  },
                  "eval_frequency": {
                    "type": "number"
                  },
                  "alert_threshold": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            },
            "description": "OK"
          }
        }
      },
      "delete": {
        "description": "delete deployed prompt",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt_id": {
                    "type": "string"
                  },
                  "env": {
                    "type": "string",
                    "example": "qa | prod"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/execute_deployment": {
      "post": {
        "description": "run deployed prompt",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt_id": {
                    "type": "string"
                  },
                  "args": {
                    "type": "object"
                  },
                  "env": {
                    "type": "string",
                    "example": "qa | prod"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "OK"
          }
        }
      }
    },
    "/evaluations": {
      "get": {
        "description": "get qa/prod evaluations. Non 100% eval_frequency will result in some prompts / responses having null evaluations",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "env",
            "example": "playground | dev"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "prompt_id"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "search"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "prompt_id": {
                        "type": "string"
                      },
                      "prompt": {
                        "type": "string"
                      },
                      "response": {
                        "type": "string"
                      },
                      "response_eval": {
                        "type": "object",
                        "properties": {
                          "evaluation": {
                            "type": "string"
                          },
                          "score": {
                            "type": "number"
                          },
                          "verification_evaluation": {
                            "type": "string"
                          }
                        }
                      },
                      "prompt_eval": {
                        "type": "object",
                        "properties": {
                          "evaluation": {
                            "type": "string"
                          },
                          "score": {
                            "type": "number"
                          }
                        }
                      },
                      "date_created": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            },
            "description": "OK"
          }
        }
      }
    }
  }
}
